.title {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 18px;
}

.menu {
  font-family: "Avenir Next";
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.menu a {
  font-weight: 700;
  font-size: 18px;
  line-height: 38.25px;
}