.band {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #E64980;;
  height: 248px;
  width: 100vw;
}

.container {
  z-index: 1;
  background-color: #E64980;
  height: 248px;
  width: 100%;
  color: white;
  font-weight: 700;
}

.mobile-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pc-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.title {
  font-family: 'Avenir Next';
  line-height: 38.25px;
}

.subTitle {
  font-family: YuGothic;
  line-height: 24px;
}